* {
    font-family: 'Quicksand', sans-serif !important;
}

a {
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

a:hover {
    color: #1DA1F2;
}

.body-content {
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    margin: 2rem;
    margin-top: 2.5rem;
    border-top: 1px dashed black;
}

.body-content {
    max-width: 55rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.post-date {
    font-size: 14px;
    text-align: center;
}

.post-wrapper {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.post-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.post-excerpt {
    margin-top: 20px;
}

.body-all-tags {
    border-top: 1px dashed black;
}

.blog-post {
    max-width: 55rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.center-text {
    margin: 0 auto;
    text-align: center;
}

.text-center {
    text-align: center;
}

.footer {
    font-weight: bold;
    overflow: auto;
}

.footer:after {
    content: "";
    clear: both;
    display: table;
}

.blog-post-title {
    font-size: 40px;
    margin: 0;
    font-weight: 700;
    text-align: center;
}

@media only screen and (max-width: 966px) {

    .body-content,
    .blog-post {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}