* {
    font-family: 'Oxygen', sans-serif !important;
}
blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
}

/*
* These styles for text decoration. The demo will be work without it
*/

.dkim-link{
	font-weight: 700;

	text-decoration: none;
	text-transform: uppercase;
}

/*
* These styles creates the underlining of link
*/

.dkim-link{
	position: relative;
	z-index: 1;
	display: inline-flex;
	
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.dkim-link::before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #fed330 25%, rgba(0, 0, 0, 0) 40%);
	
	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;
	
	will-change: width;
	transform: rotate(-2deg);
	transform-origin: left bottom
}

.dkim-link:hover::before{
	width: 0;
}

/*
* animation styles
*/

.dkim-link::before{
	transition: width .1s ease-out;
}

.dkim-link:hover::before{
	transition-duration: .15s;
}
