.footer-comp {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2rem;
    padding-top: 1rem;
    border-top: 1px dashed black;
}

.footer-comp h2 {
    margin-bottom: 0;
    font-size: 30px;
}

.footer-comp p {
    margin-top: 0;
    opacity: 0.5;
}

.footer-heart {
    color: #ff0000;
}

@media only screen and (max-width: 570px) {
    .footer-text {
        margin-right: 20px;
        margin-top: 10px;
    }
}